<div
  {{did-insert this.initializeKonva}}
  {{did-update this.updateKonva this.props}}
  ...attributes
></div>

{{#if this.konvaNode}}
  {{yield (hash Layer=(component "konva/layer" parent=this.konvaNode)) this.konvaNode}}
{{/if}}
