<h2 id="title">Welcome to Ember</h2>

<Konva::Stage
  @width={{1440}}
  @height={{800}}
  as |stage|
>
  <stage.Layer />
  <stage.Layer as |layer|>
    <layer.Circle
      @width={{10}}
      @height={{10}}
      @x={{100}}
      @y={{100}}
      @fill="#000000"
    />
    <layer.Rect
      @width={{10}}
      @height={{10}}
      @x={{150}}
      @y={{150}}
      @fill="#000000"
    />
    <layer.Label as |label|>
      <label.Text
        @text="GENAU"
        @x={{200}}
        @y={{200}}
      />
    </layer.Label>
  </stage.Layer>
</Konva::Stage>
